/* 

Pallette:
2B2D42
8D99AE
EDF2F4
EF233C
D90429


f0f0f0

*/


  html{
      /* background-color: #8D99AE; */
      background-color: #2B2D42;
  }

.PokeType{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FAFAFA; /* Add it to the new pallete? */
    text-align: center;
    left: 300px;
    position: relative;
    transition: transform 0.2s ease-in-out;
    /* box-shadow: 0 0 10px #fff; */
    width:fit-content;


    /* margin-left: 150px; */
}

.PokeType:hover{
  transform: translateY(-5px);
  text-decoration:underline #b4bcc0;
  /* box-shadow: 0 0 10px #fff, 0 0 10px #fff inset; */
}

#pokeball {
  width: 50px;
  height: 50px;
  /* margin-left: 35px; */
  background-image:url(pokeball.png);
}


.boxed {
  /* border: 1.75px solid white;  */
  /* border-radius: 25% 10%; */
  /* width:max-content; */
  /* align-self: center; */
  padding: 20px;
  margin: 25px;
  /* background-color: #2B2D42; */
  /* margin: auto; */
}

.pokeBall {
  display: flex;
  flex-direction: column;
  /* position:relative;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 10px #fff; */
  /* flex-wrap: wrap; */
  /* min-height: 100vh; */
  /* @keyframes title:hover{
    0% {top: 0px}
    25% {top: 100px}
    75% {bot: 100px}
    100% {bot: 0px}
    
  } */
}

.top {
  /* flex-grow: 1; */
  background-color: #b9102c;
  /* width: 100px; */
  width: auto;
  height: auto;
  padding: 50px 100px;
  margin-left: auto;
  margin-right: auto;
}

.mid {
  background-color: #2f3148;
  width: auto;
  height: auto;
  padding: 50px 100px;
  margin-left: auto;
  margin-right: auto;
}

.bot {
  background-color: #dfe5e8;
  width: auto;
  height: auto;
  padding: 50px 100px;
  margin-left: auto;
  margin-right: auto;
}