<!DOCTYPE html>
<html>
<title>PokeType | What's good against that pokemon if I have this pokemon?</title>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/eval_pokemon.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/assets/images/pokeball.png">
</head>

<header class="bg-[#1E1E1E] h-36">
    <div class="grid grid-rows-2 gap-10">
        <div class="text-[#EDEEEF] flex items-center justify-center font-bold"><a href="{{ url_for('home') }}">PokeType | What's good against that pokemon if I have this pokemon?</a></div>
        <div class="columns-3 font-extrabold text-2xl gap-32 flex items-center justify-center" style="color:#E6E6E6">
            <div class="hover:animate-bounce">
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            <div class="hover:animate-bounce">
                <a href="{{ url_for('about') }}">About</a>
            </div>
            <div class="hover:animate-bounce">
                <a href="https://github.com/criiptico">GitHub</a>
            </div>
            <div class="hover:animate-bounce">
                <a href="https://www.linkedin.com/in/adrian-quiroz/">LinkedIn</a>
            </div>
        </div>
    </div>
    <div class="flex justify-center py-3">
        <hr class="w-[43%] h-2 bg-gray-200 border-0 rounded dark:bg-[#E6E6E6] ">
    </div>
</header>

<body class="flex flex-col min-h-screen bg-[#E6E6E6]"> 
 <main class="flex-grow py-5">
    <div class="flex justify-center self-center">
        <div class="flex flex-col gap-5 justify-items-center self-center text-center">
            <img class="w-40 h-40 rounded-full justify-center self-center" src="../static/assets/images/profile_picture.jpg">
            <div class="justify-center self-center">Hi, my name is criiptico, but feel free to call me Adrian!</div>
            <div class="w-96 justify-center self-center">I'm a senior computer science student at the University of Illinois Chicago. I love working on projects and I'm so happy and relieved I could finish this one 💖. I learned so much more than what I initially thought I would and it was all a blast. For the curious minded, the tech-stack involved was Python and HTML/CSS/Tailwind CSS. The purpose of this project was to learn Python, Flask, and to launch a website. I learned about API's, JSON, Serialization, Python, Flask, Jinja, Web Design, and Tailwind CSS.</div>
            <div class="justify-center self-center">I hope you enjoy this build as much as I did developing it 😊.</div>
            <div class="justify-center self-center">Your PokeType Developer,</div>
            <div class="justify-center self-center">- criiptico</div>
        </div>
    </div>
 </main>
</body>

<footer class="bg-[#1E1E1E] h-32">
    <div class="h-7"></div>
        <div class="py-15 columns-3 font-normal text-lg gap-32 flex items-center justify-center hover:underline" style="color:#E6E6E6">
            <a class="row-auto" href="{{ url_for('about') }}">
                <div class="flex items-center justify-center">
                    <img src="../static/assets/images/about.png">
                </div>
                <div>About</div>
            </a>
            <a class="row-auto" href="https://github.com/criiptico">
                <div class="flex items-center justify-center">
                    <img src="../static/assets/images/github.png">
                </div>
                <div>
                    GitHub
                </div>
            </a>
            <a class="row-auto" href="https://www.linkedin.com/in/adrian-quiroz/">
                <div class="flex items-center justify-center">
                    <img src="../static/assets/images/linkedin.png">
                </div>
                <div>
                    LinkedIn
                </div>
            </a>
        </div>
</footer>
</html>
