<!DOCTYPE html>
<html>
<title>PokeType | What's good against that pokemon if I have this pokemon?</title>
<head>
    <!-- <link rel="stylesheet" href="./html_css_js/indexStyle.css"> -->
    <!-- <link rel="stylesheet" href="./Styles/indexStyle.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <!-- <script src="../js/loader.js" defer></script> -->
</head>

<body>
    <!-- <div class="loader"></div> -->
    <div class="evaluating_pokemon">
        <h1>Evaluate Pokemon:</h1>
        <form method="GET" action="{{ url_for('evaluate_pokemon') }}">
            <input type="text" name="pokemon_1" placeholder="Enter Pokemon 1">
            <input type="text" name="pokemon_2" placeholder="Enter Pokemon 2">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>
